flows_iMac.local.json
[{"id":"19432d0.3ea06d3","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"59513c0f.c5b5e4","type":"serial-port","z":"","serialport":"/dev/tty.SLAB_USBtoUART","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":";","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"816dc6a2.f24f48","type":"ui_tab","z":"","name":"TS590","icon":"dashboard","disabled":false,"hidden":false},{"id":"17ccc833.2a3208","type":"ui_group","z":"","name":"TRX","tab":"816dc6a2.f24f48","disp":true,"width":"6","collapse":false},{"id":"ee35c3a.06c8f4","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"7dfab88.cf72f48","type":"split","z":"19432d0.3ea06d3","name":"","splt":";","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":true,"addname":"","x":520,"y":220,"wires":[["cee18e35.7f933"]]},{"id":"c1b35356.12b29","type":"function","z":"19432d0.3ea06d3","name":"append ;","func":"msg.payload = msg.payload + ';'\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":200,"wires":[["58dfd32e.618764"]]},{"id":"4ee15f11.cca82","type":"switch","z":"19432d0.3ea06d3","name":"","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"^FA","vt":"str","case":false},{"t":"regex","v":"^MD","vt":"str","case":false},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":430,"y":700,"wires":[["53bca9ba.8a07d8"],["f35e02cb.87554"],[]]},{"id":"53bca9ba.8a07d8","type":"function","z":"19432d0.3ea06d3","name":"frequency","func":"f = msg.payload.slice(2);\nflow.set('freq', f);\nmsg.payload = f;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":680,"wires":[["cf23335e.040d1","d4855023.d87a3","74c8b231.616374"]]},{"id":"945c4f12.6f11b","type":"tcp in","z":"19432d0.3ea06d3","name":"RUMLog in","server":"server","host":"","port":"8888","datamode":"stream","datatype":"utf8","newline":"","topic":"","base64":false,"x":210,"y":220,"wires":[["7dfab88.cf72f48","fb490679.57bcf8"]]},{"id":"fb490679.57bcf8","type":"debug","z":"19432d0.3ea06d3","name":"RUMLog in","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":310,"y":260,"wires":[]},{"id":"dcd3f96c.3792e8","type":"serial out","z":"19432d0.3ea06d3","name":"","serial":"59513c0f.c5b5e4","x":1200,"y":1200,"wires":[]},{"id":"814dd874.48f188","type":"debug","z":"19432d0.3ea06d3","name":"TS590 serial out","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1160,"y":1260,"wires":[]},{"id":"6274e42d.1a205c","type":"comment","z":"19432d0.3ea06d3","name":"TCP to serial","info":"","x":90,"y":80,"wires":[]},{"id":"2479e18c.42fade","type":"comment","z":"19432d0.3ea06d3","name":"serial to TCP","info":"","x":90,"y":400,"wires":[]},{"id":"34430884.fb1818","type":"serial in","z":"19432d0.3ea06d3","name":"TS590 serial in","serial":"59513c0f.c5b5e4","x":250,"y":500,"wires":[["7b0d4e7.1da6eb","2f366149.45148e"]]},{"id":"2f366149.45148e","type":"split","z":"19432d0.3ea06d3","name":"","splt":";","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":490,"y":500,"wires":[["c925d944.262058"]]},{"id":"ac919ac8.647fa8","type":"debug","z":"19432d0.3ea06d3","name":"RUMLog TCP out","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1010,"y":460,"wires":[]},{"id":"7b0d4e7.1da6eb","type":"debug","z":"19432d0.3ea06d3","name":"TS590 serial in","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":320,"y":560,"wires":[]},{"id":"c925d944.262058","type":"switch","z":"19432d0.3ea06d3","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"?","vt":"str"},{"t":"nempty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":610,"y":500,"wires":[[],["a48f65a2.139ff8","4ee15f11.cca82"],[]]},{"id":"a48f65a2.139ff8","type":"function","z":"19432d0.3ea06d3","name":"append ;","func":"msg.payload = msg.payload + ';'\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":500,"wires":[["ac919ac8.647fa8","589af8bf.caf958"]]},{"id":"cee18e35.7f933","type":"switch","z":"19432d0.3ea06d3","name":"","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"^$","vt":"str","case":false},{"t":"regex","v":"^\\?","vt":"str","case":false},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":670,"y":220,"wires":[[],[],["c1b35356.12b29"]]},{"id":"a2ae6241.9d265","type":"comment","z":"19432d0.3ea06d3","name":"observer","info":"","x":80,"y":700,"wires":[]},{"id":"f35e02cb.87554","type":"function","z":"19432d0.3ea06d3","name":"mode","func":"f = msg.payload.slice(2);\nflow.set('mode', f);\nmsg.payload = f;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":720,"wires":[["40de0dec.84c9f4","e5e567a8.52e8a8"]]},{"id":"cde63feb.0b0c6","type":"comment","z":"19432d0.3ea06d3","name":"send to other receviers","info":"","x":120,"y":860,"wires":[]},{"id":"301d7076.dfdc9","type":"tcp out","z":"19432d0.3ea06d3","host":"eb500","port":"5555","beserver":"client","base64":false,"end":false,"name":"EB500 TCP","x":970,"y":880,"wires":[]},{"id":"cf23335e.040d1","type":"function","z":"19432d0.3ea06d3","name":"EB500 frequency control","func":"msg.payload = \"SENSE:FREQ:DEM \" + msg.payload + \"\\r\\n\";\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":840,"wires":[["301d7076.dfdc9","1b29d766.ce4029"]]},{"id":"1b29d766.ce4029","type":"debug","z":"19432d0.3ea06d3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":840,"wires":[]},{"id":"d4855023.d87a3","type":"ui_numeric","z":"19432d0.3ea06d3","name":"","label":"numeric","tooltip":"","group":"17ccc833.2a3208","order":0,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":10,"step":1,"x":860,"y":680,"wires":[[]]},{"id":"40de0dec.84c9f4","type":"ui_numeric","z":"19432d0.3ea06d3","name":"","label":"numeric","tooltip":"","group":"17ccc833.2a3208","order":0,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":10,"step":1,"x":860,"y":720,"wires":[[]]},{"id":"a5d04064.61fb4","type":"inject","z":"19432d0.3ea06d3","name":"TS590 init: AI2;IF;","topic":"","payload":"AI2;IF","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":690,"y":80,"wires":[["c1b35356.12b29"]]},{"id":"589af8bf.caf958","type":"tcp out","z":"19432d0.3ea06d3","host":"localhost","port":"8888","beserver":"reply","base64":false,"end":false,"name":"TCP out","x":990,"y":500,"wires":[]},{"id":"74c8b231.616374","type":"function","z":"19432d0.3ea06d3","name":"GQRX frequency control","func":"msg.payload = \"F \" + msg.payload + \"\\r\";\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":980,"wires":[["98a6a074.f6f768"]]},{"id":"559719f1.d8368","type":"debug","z":"19432d0.3ea06d3","name":"GQRX TCP","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1230,"y":1020,"wires":[]},{"id":"e5e567a8.52e8a8","type":"function","z":"19432d0.3ea06d3","name":"GQRX mode control","func":"switch(parseInt(msg.payload)) {\n  case 1:\n    msg.payload = \"LSB\";\n    break;\n  case 2:\n    msg.payload = \"USB\";\n    break;\n  case 3:\n    msg.payload = \"CW\";\n    break;\n  case 4:\n    msg.payload = \"FM\";\n    break;\n  case 5:\n    msg.payload = \"AM\";\n    break;\n  case 6:\n    msg.payload = \"USB\";\n    break;\n  default:\n    // code block\n} \n\nmsg.payload = \"M \" + msg.payload + \"\\r\";\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":1020,"wires":[["98a6a074.f6f768"]]},{"id":"98a6a074.f6f768","type":"function","z":"19432d0.3ea06d3","name":"pass","func":"msg.payload = msg.payload + \"\\n\"\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":1040,"wires":[["559719f1.d8368","43ef7863.a52c58"]]},{"id":"59f6b725.745e48","type":"tcp request","z":"19432d0.3ea06d3","server":"127.0.0.1","port":"7356","out":"char","splitc":"\\n","name":"GQRX request","x":340,"y":1220,"wires":[["6cad3e05.628508"]]},{"id":"6cad3e05.628508","type":"function","z":"19432d0.3ea06d3","name":"build ts590 FA cmd","func":"f = parseInt(msg.payload);\n\nif (f==context.get('freq')) {\n    return;\n}\n\nf = \"00000000000\" + (msg.payload);\nf = f.substr(-12);\nf = f.slice(0, -1);\n\ncontext.set('freq', parseInt(f));\n\nmsg.payload = \"FA\" + f + \";\";\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":1220,"wires":[["303ad1a0.b98ba6"]]},{"id":"50e9025e.7b5d14","type":"inject","z":"19432d0.3ea06d3","name":"","topic":"","payload":"[102,10]","payloadType":"bin","repeat":"0.3","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1220,"wires":[["59f6b725.745e48"]]},{"id":"43ef7863.a52c58","type":"tcp request","z":"19432d0.3ea06d3","server":"127.0.0.1","port":"7356","out":"char","splitc":"\\n","name":"GQRX request","x":1240,"y":1060,"wires":[[]]},{"id":"58dfd32e.618764","type":"link out","z":"19432d0.3ea06d3","name":"ts590","links":["8047c7db.edf378"],"x":935,"y":200,"wires":[]},{"id":"8047c7db.edf378","type":"link in","z":"19432d0.3ea06d3","name":"","links":["58dfd32e.618764","303ad1a0.b98ba6"],"x":975,"y":1220,"wires":[["dcd3f96c.3792e8","814dd874.48f188"]]},{"id":"303ad1a0.b98ba6","type":"link out","z":"19432d0.3ea06d3","name":"ts590","links":["8047c7db.edf378"],"x":715,"y":1220,"wires":[]}]